/*RECURSOS*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,700;1,900&display=swap");
@use "typo";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "typo.$typoprincipal"; }

/*Colores a usar en la web*/
/*~ Rich Black FOGRA 39*/
/*~ Eerie Black*/
/*~ Blood Red*/
/*~ Ruby Red*/
/*~ Carnelian*/
/*~ Imperial Red*/
/*~ Black Shadows*/
/*~ Light Gray*/
/*~ Cultured*Color1: #FFFFFF; /*~ White*/
/*Fuente:
    Source Serif Pro
        ExtraLight 200
        Bold 700
        Regular 400
        Black 900 Italic
        font-family: 'Source Serif Pro', serif;*/
/*SECCIONES*/
.body {
  background: white;
  background: linear-gradient(35deg, white 10%, #f5f3f4 20%, lightgray 30%, #b1a7a6 40%, #e5383b 50%, #ba181b 60%, #a4161a 70%, #660708 80%, #0d0c0d 90%, #0b090a 100%);
  /*lo de arriba le da un color de fondo a toda la web*/ }

.header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between; }

.navegador {
  min-height: 3vh; }

.lista-menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #B1A7A6;
  background: #252839;
  list-style: none;
  font-size: 15px;
  text-align: center;
  position: relative;
  flex-direction: row;
  gap: 30px;
  min-height: 5vh;
  align-content: center; }

.lista-menu li a {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  line-height: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); }

.lista-menu li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 2px solid var(--clr);
  -webkit-text-stroke: 2px var(--clr); }

.lista-menu li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr)); }

.fondo_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }

.img-logo {
  height: 300px;
  display: flex;
  justify-content: center;
  padding: .5rem;
  object-fit: cover; }

/*contenido principal con mobile last*/
.main-index {
  min-height: 60vh; }

.Clases-Principales {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5383B;
  font-size: 6rem;
  font-weight: bold;
  background-color: #D3D3D3;
  min-height: 15vh; }

.main__ritmos {
  border: 2px black;
  /*display: flex;*/
  justify-content: center;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: none; }

.ritmos {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
  align-content: center;
  min-height: 40vh;
  /*width: 100%;*/
  /*grid-template-rows: 1fr;*/
  /*gap: 1rem;*/
  /*grid-auto-flow: row;*/
  grid-template-areas: "Salsa Bachata Reggaeton"; }

.ritmoflex {
  display: flex;
  flex-direction: column;
  align-items: center; }

.img-baile {
  border-radius: 15%;
  width: 25vw; }

.tit-ritmo {
  font-size: 2.5rem;
  text-align: center;
  color: #335C67;
  font-weight: bold; }

.tit-formulario {
  padding: 1rem;
  text-align: center; }

.box-datos {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 300px;
  width: 400px; }

.box-datos input {
  background-color: #F5EBE0;
  text-align: start;
  font-size: 1.5rem; }

.box-datos textarea {
  background-color: #F5EBE0; }

.grid-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "formulario mapa";
  justify-items: center;
  align-items: center;
  gap: 4rem; }

.main-contacto {
  background-color: #B1A7A6;
  height: 60vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem; }

.mapa {
  animation-name: aparicio;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse; }

.mapa iframe {
  width: 400px;
  height: 300px; }

@keyframes aparicio {
  10% {
    transform: translatey(100); }
  25% {
    transform: translatex(80px); }
  50% {
    transform: translatey(50px); }
  80% {
    transform: translatey(25px); }
  100% {
    transform: translatey(0px); } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background: linear-gradient (35 deg rgba(211,211,211,1) 10%, rgba(177,167,166,1) 20%, rgba(229,56,59,1) 60%,
    rgba(186,24,27,1) 80%);*/
  min-height: 15vh; }

.footer__Redes li {
  color: #370617;
  border: 3px solid;
  display: inline-block;
  padding: 3px;
  position: relative;
  list-style: none;
  font-size: 25px; }

.footer__Redes a {
  color: #9D0208;
  text-decoration: none; }

/* cambios para adaptar a 8408px y menos*/
@media (max-width: 840px) {
  .lista-menu {
    font-size: 10px; }
  .lista-menu li a {
    font-size: 1rem;
    line-height: 1rem; }
  .Clases-Principales {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5383B;
    background-color: #D3D3D3;
    height: 10vh; }
  .img-logo {
    /*margin: auto;*/
    width: 15vh;
    display: flex;
    justify-content: center; }
  /*cambios en mapa de contacto*/
  .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "formulario" "mapa";
    justify-items: center;
    align-items: center;
    gap: 8rem;
    height: 50vh; }
  .main-contacto {
    background-color: #B1A7A6;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center; }
  .box-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .mapa iframe {
    width: 500px;
    height: 350px; } }

/*cambios para adaptar a 552px o menos*/
@media (max-width: 552px) {
  .lista-menu {
    font-size: .8rem; }
  .lista-menu li a {
    font-size: .8rem;
    line-height: .8rem; }
  .img-logo {
    /*margin: auto;*/
    width: 45vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    object-fit: cover; }
  .Clases-Principales {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5383B;
    background-color: #D3D3D3;
    height: 5vh; }
  .ritmos {
    display: grid;
    grid-template-rows: repeat(3, 20vh);
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    /*height: 65vh;*/
    width: 100vw;
    gap: 0px 0px;
    /*grid-auto-flow: row;*/
    grid-template-areas: "Salsa" "Bachata" "Reggaeton"; }
  .img-baile {
    text-align: center; }
  .footer {
    height: 15vh; } }
