@charset "UTF-8";
/*Resources*/
/*Colores a usar en la web*/
/*~ Rich Black FOGRA 39*/
/*~ Eerie Black*/
/*~ Blood Red*/
/*~ Ruby Red*/
/*~ Carnelian*/
/*~ Imperial Red*/
/*~ Black Shadows*/
/*~ Light Gray*/
/*~ Cultured*Color1: #FFFFFF; /*~ White*/
/*la url de estos colores es: 
https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff*/
/*Fuente:
    Poppins Sans-serif
    Light 300
    Regular 400
    Medium 500 Italic
    SemiBold 600
    ExtraBold 800 
    */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

/*Utilidades y Sections*/
.body {
  background: white;
  background: linear-gradient(35deg, white 10%, #f5f3f4 20%, lightgray 30%, #b1a7a6 40%, #e5383b 50%, #ba181b 60%, #a4161a 70%, #660708 80%, #0d0c0d 90%, #0b090a 100%);
  /*lo de arriba le da un color de fondo a toda la web*/ }

.basic-flex, .header, .footer, .tituloclases, .titulocontacto, .box-datos, .titulogaleri, .tit-staff {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.header {
  /*definida en _footer.scss*/
  min-height: 25vh;
  align-items: stretch; }

.navegador {
  padding: .1rem;
  min-height: 3vh;
  display: flex;
  flex-direction: column; }

.lista-menu {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: .1rem;
  margin: .1rem;
  background: #161A1D;
  list-style: none;
  font-size: 15px;
  text-align: center;
  position: relative;
  gap: 30px;
  min-height: 5vh;
  border: 1px solid;
  border-color: #660708;
  border-radius: 3%; }

.lista-menu li a {
  text-decoration: none;
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  line-height: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); }

.lista-menu li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(#E5383B);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 2px solid var(--clr);
  -webkit-text-stroke: 2px var(--clr); }

.lista-menu li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr)); }

.fondo_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }

.img-logo {
  max-height: 300px;
  display: flex;
  justify-content: center;
  padding: .2rem;
  object-fit: cover; }

/* cambios para adaptar a 8408px y menos*/
@media (max-width: 840px) {
  .lista-menu {
    font-size: 8px; }
  .lista-menu li a {
    font-size: 1rem;
    line-height: 1rem; }
  .img-logo {
    min-width: 100px;
    max-height: 200px; } }

/*cambios para adaptar a 552px o menos*/
@media (max-width: 552px) {
  .lista-menu {
    font-size: .8rem; }
  .lista-menu li a {
    font-size: .8rem;
    line-height: .8rem; }
  .img-logo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding: .1rem; } }

.footer {
  align-items: center;
  min-height: 15vh; }

.footer__Redes li {
  color: #370617;
  border: 3px solid;
  display: inline-block;
  padding: 3px;
  position: relative;
  list-style: none;
  font-size: 25px; }

.tit-redes {
  font-weight: bold;
  text-shadow: 2px 1px 1.5px #E5383B;
  color: #161A1D; }

.footer__Redes a {
  color: #9D0208;
  text-decoration: none; }

@media (max-width: 552px) {
  .footer {
    min-height: 15vh; } }

/*contenido principal con mobile last*/
.main-index {
  min-height: 60vh; }

.Clases-Principales {
  border: 2px solid #B1A7A6;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  min-height: 15vh; }

.TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
  font-size: 6rem;
  font-weight: bold;
  color: #E5383B;
  text-shadow: 8px 3px 2.5px  #161A1D; }

.main__ritmos {
  border: 2px solid #B1A7A6;
  /*display: flex;*/
  justify-content: center;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: none; }

.ritmos {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
  align-content: center;
  min-height: 40vh;
  /*width: 100%;*/
  /*grid-template-rows: 1fr;*/
  /*gap: 1rem;*/
  /*grid-auto-flow: row;*/
  grid-template-areas: "Salsa Bachata Reggaeton"; }

.ritmoflex {
  display: flex;
  flex-direction: column;
  align-items: center; }

.img-baile {
  border-radius: 15%;
  width: 25vw; }

.tit-ritmo {
  font-size: 2.5rem;
  text-align: center;
  color: #161A1D;
  font-weight: bold; }

@media (max-width: 940px) {
  .Clases-Principales {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5383B;
    background-color: #D3D3D3;
    height: 10vh; }
  .TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
    font-size: 3rem; } }

@media (max-width: 688px) {
  .Clases-Principales {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5383B;
    background-color: #D3D3D3;
    height: 5vh;
    padding: .5rem; }
  .TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
    font-size: 1.5rem;
    text-shadow: none; }
  .ritmos {
    display: grid;
    grid-template-rows: repeat(3, 20vh);
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    height: 65vh;
    width: 100vw;
    gap: 0px 0px;
    /*grid-auto-flow: row;*/
    grid-template-areas: "Salsa" "Bachata" "Reggaeton"; }
  .ritmoflex {
    min-width: 310px;
    min-height: 150px; }
  /*.img-baile{
        text-align: center;
        ;
    }*/ }

.main-Clases {
  display: flex;
  align-items: center;
  justify-content: center; }

.tituloclases {
  align-items: center;
  color: #E5383B;
  font-size: 6rem;
  font-weight: bold;
  background-color: #D3D3D3;
  min-height: 15vh; }

.Clases-horarios {
  display: flex;
  align-items: center;
  height: auto;
  width: auto; }

.main-contacto {
  background-color: rgba(177, 167, 166, 0.7);
  height: 900px;
  /*min-width: 840px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: .5rem; }

.titulocontacto {
  font-weight: bold;
  align-items: center;
  color: #161A1D;
  font-size: 2.1rem;
  font-weight: bold;
  background-color: rgba(211, 211, 211, 0.6);
  min-height: 4.5vh;
  text-align: center; }

.grid-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "Contdelformulario mapa";
  justify-items: stretch;
  align-items: center;
  gap: 1rem; }

.Contdelformulario {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.boxformulario {
  background-color: rgba(211, 211, 211, 0.6); }

.tit-formulario {
  padding: 1rem;
  text-align: center; }

.box-datos {
  padding: 1.5rem;
  align-items: stretch;
  height: 300px;
  width: 400px; }

.box-datos input {
  background-color: #F5EBE0;
  text-align: start;
  font-size: 1.5rem; }

.box-datos textarea {
  background-color: #F5EBE0; }

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: aparicio;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  background-color: rgba(211, 211, 211, 0.6);
  min-width: 510px;
  min-height: 369px; }

.mapa iframe {
  width: 500px;
  height: 300px; }

@keyframes aparicio {
  10% {
    transform: translatey(100); }
  25% {
    transform: translatex(80px); }
  50% {
    transform: translatey(50px); }
  80% {
    transform: translatey(25px); }
  100% {
    transform: translatey(0px); } }

@media (max-width: 940px) {
  /*cambios en mapa de contacto*/
  .main-contacto {
    min-height: 1000px;
    max-width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: auto; }
  .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "Contdelformulario" "mapa";
    justify-items: center;
    align-items: center;
    gap: 1rem;
    height: 800px; }
  .box-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch; }
  .mapa iframe {
    width: 500px;
    height: 350px; } }

@media (max-width: 525px) {
  .main-contacto {
    min-height: 1200px; }
  .titulocontacto {
    display: flex;
    min-height: 2.5vh;
    font-size: 1.5rem; }
  .grid-contacto {
    display: grid;
    grid-template-columns: repeat(1, 70%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    min-height: 900px;
    min-width: 315px; }
  .tit-formulario {
    padding: .5rem; }
  .box-datos {
    max-width: 300px;
    display: flex;
    align-items: stretch;
    padding: .5rem; }
  .mapa {
    min-width: 310px;
    min-height: 369px; }
  .mapa iframe {
    width: 300px;
    height: 350px; } }

.mainFAQ {
  min-height: 60vh; }

.main-galeria {
  margin: 0;
  min-height: 60vh;
  display: grid;
  place-content: center; }

.titulogaleri {
  align-items: center;
  color: #E5383B;
  font-size: 6rem;
  font-weight: bold;
  background-color: #D3D3D3;
  min-height: 15vh; }

.gallery {
  --n: 3;
  /*nº de filas*/
  --m: 3;
  /*nº de columnas*/
  --s: 150px;
  --g: 10px;
  --f: 1.2;
  --h: calc((100vh - (var(--n) - 1)*var(--g))/var(--n));
  --w: calc((100vw - (var(--m) - 1)*var(--g))/var(--m));
  display: grid;
  gap: var(--g);
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(var(--m), auto);
  aspect-ratio: 1; }

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .35s linear; }

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--w)*var(--f));
  height: calc(var(--h)*var(--f)); }

@media (max-width: 840px) {
  .TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
    font-size: 3rem; } }

@media (max-width: 552px) {
  .TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
    font-size: 1.8rem; } }

.main-staff {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: auto; }

.tit-staff {
  align-items: center;
  color: #E5383B;
  font-size: 6rem;
  font-weight: bold;
  background-color: #D3D3D3;
  min-height: 15vh; }

.staff {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Cyn D Nat"; }

.Cyn {
  grid-area: Cyn; }

.Nat {
  grid-area: Nat; }

.D {
  grid-area: D; }

@media (max-width: 840px) {
  .TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
    font-size: 3rem; } }

@media (max-width: 552px) {
  .TituloPrincipal, .tituloclases, .titulogaleri, .tit-staff {
    font-size: 1.8rem; } }
