/*RECURSOS*/
@import './Resources/colores';
@import './Resources/typo';
@import './Resources/reseteo';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,700;1,900&display=swap');

/*SECCIONES*/

@import './Utilities/body';
@import './Utilities/header';
@import './Sections/main-index';
@import './Sections/Contacto/main-Contacto';
@import './Sections/Staff/main-staff';
@import './Utilities/footer';
