/*Resources*/
@import './Resources/colores';
@import './Resources/typo';
@import './Resources/reseteo';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,500&display=swap');

/*Utilidades y Sections*/
@import './Utilities/body';
@import './Utilities/header';
@import './Utilities/footer';
@import './Sections/main-index';
@import './Sections/Clases/main-Clases';
@import './Sections/Contacto/main-Contacto';
@import './Sections/FAQ/mainFAQ';
@import './Sections/Galeria/mainGaleria';
@import './Sections/Staff/main-staff';
