/*contenido principal con mobile last*/
.main-index{
    min-height: 60vh;
}
.Clases-Principales{
    border: 2px solid #B1A7A6;
    border-radius:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Color8;
    min-height: 15vh;
}
.TituloPrincipal{
    font-size: 6rem;
    font-weight: bold;
    color: #E5383B;
    text-shadow: 8px 3px 2.5px  #161A1D;
}
.main__ritmos {
    border: 2px solid #B1A7A6;
    /*display: flex;*/
    justify-content: center;
    width: 300px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: none;
}
.ritmos { 
    display: grid;    
    grid-template-columns: repeat(3,  33.33%);
    justify-items: center;
    align-content: center;
    min-height: 40vh;
    /*width: 100%;*/
    /*grid-template-rows: 1fr;*/
    /*gap: 1rem;*/
    /*grid-auto-flow: row;*/
    grid-template-areas:
        "Salsa Bachata Reggaeton";   
}
.ritmoflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-baile{
    border-radius: 15%;
    width: 25vw;
}
.tit-ritmo{
    font-size: 2.5rem;
    text-align: center;
    color: #161A1D;
    font-weight: bold;
}
@media (max-width: 940px){
    .Clases-Principales{
                display: flex;
        justify-content: center;
        align-items: center;
        color: #E5383B;
        background-color: #D3D3D3;
        height: 10vh;
    }
    .TituloPrincipal{
        font-size: 3rem;
    }
}

@media (max-width: 688px){

    .Clases-Principales{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E5383B;
        background-color: #D3D3D3;
        height: 5vh;
        padding: .5rem;
    }
    .TituloPrincipal{
        font-size:1.5rem;
        text-shadow: none;
    }

        .ritmos { 
        display: grid;
        grid-template-rows:repeat(3, 20vh);
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        height: 65vh;  
        width: 100vw;     
        gap: 0px 0px;
        /*grid-auto-flow: row;*/
        grid-template-areas:
            "Salsa"
            "Bachata"
            "Reggaeton";   
    }
    .ritmoflex{
        min-width: 310px;
        min-height: 150px;
    }
    /*.img-baile{
        text-align: center;
        ;
    }*/
}