.main-galeria{
    margin: 0;
    min-height: 60vh;
    display: grid;
    place-content: center;
}
.titulogaleri{
    @extend .basic-flex;
    @extend .TituloPrincipal;
    align-items: center;
    color: #E5383B;
    font-size: 6rem;
    font-weight: bold;
    background-color: $Color8;
    min-height: 15vh;
}
.gallery {
    --n: 3; /*nº de filas*/
    --m: 3; /*nº de columnas*/
    --s: 150px;
    --g: 10px;
    --f: 1.2;
    --h: calc((100vh - (var(--n) - 1)*var(--g))/var(--n));
    --w: calc((100vw - (var(--m) - 1)*var(--g))/var(--m));
    
    
    display: grid;
    gap: (var(--g));
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(var(--m),auto);
    aspect-ratio: 1;

}
.gallery > img{
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
}
.gallery img:hover{
    filter: grayscale(0);
    width: calc(var(--w)*var(--f));
    height: calc(var(--h)*var(--f));
}
@media (max-width: 840px){
    .TituloPrincipal{
        font-size: 3rem;
    }
}

@media (max-width: 552px){
    .TituloPrincipal{
        font-size:1.8rem;
    }
}