.basic-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer{
    @extend .basic-flex;
    align-items: center;
    min-height: 15vh;
}
.footer__Redes li{
    color: #370617; 
    border: 3px solid;
    display: inline-block;
    padding: 3px;
    position: relative;
    list-style: none;
    font-size: 25px;
}
.footer__Redes a{
    color: #9D0208;
    text-decoration:  none;
}

@media (max-width: 552px){

    .footer{
        min-height: 15vh;
    }
}