.footer{
    @extend .basic-flex;
    align-items: center;
    min-height: 20vh;
    background-color: $Color10;
    
}
.tit-redes{
    display: flex;
    font-weight: bold;
    text-shadow: 2px 1px 1.5px $Color6;
    color: $Color2;
    text-align: center;
}
.contredes{
    min-width: 310px;
    height: auto;
    display: grid;
    justify-items: center;  
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "Icoinsta Icoyou"
        "Insta You";
}
.Icoinsta { grid-area: Icoinsta; }
.Icoyou { grid-area: Icoyou; }
.Insta { grid-area: Insta; }
.You { grid-area: You; }

.flexred{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-size: .6rem;
}
.fa-brands{
    font-size: 2.5rem;
    color: $Color3;
}
.flexred a{
    color: #9D0208;
    text-decoration:  none;
}

@media (max-width: 552px){
    .tit-redes{
        text-align: center;
        font-size: 1.5rem;
    }
    .footer{
        min-height: 15vh;
    }
}