.main-contacto{
    background-color: rgba(177, 167, 166, .7);
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: .5rem;
}
.titulocontacto{
    @extend .basic-flex;
    font-weight: bold;
    align-items: center;
    color: #161A1D;
    font-size: 2.1rem;
    font-weight: bold;
    background-color: $Color10;
    min-height: 4.5vh;
    text-align: center;
}
.grid-contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "Contdelformulario mapa";
    justify-items: stretch;
    align-items: center;
    gap: 3.5rem;
}
.Contdelformulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxformulario{
    background-color: $Color10;
}
.tit-formulario{
    padding: 1rem;
    text-align: center;
}
.box-datos{
    @extend .basic-flex;
    padding: 1.5rem;
    align-items: stretch;
    height: 300px;
    width: 400px;
}
.box-datos input{
    background-color:#F5EBE0;
    text-align: start;
    font-size: 1.5rem;
}
.box-datos textarea{
    background-color:#F5EBE0;
}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aparicio;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    background-color: $Color10;
    min-width: 510px;
    min-height: 369px;

}
.mapa iframe{
    width: 500px;
    height: 300px;
}

@keyframes aparicio{
    10%{transform: translatey(100);
    
    }
    25%{transform: translatex(80px);
    
    }
    50%{transform: translatey(50px);
    
    }
    80%{transform: translatey(25px);
    
    }
    100%{transform: translatey(0px);
    
    }
}
@media (max-width: 840px){
    /*cambios en mapa de contacto*/
    .main-contacto{
        min-height: 90vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }
    .grid-contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 50%);
        grid-template-areas: 
            "Contdelformulario"
            "mapa";
        justify-items: center;
        align-items: center;
        gap: 5rem;
        height: 50vh;
    }    
    .box-datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: stretch;
    }
    .mapa iframe{
        width: 500px;
        height: 350px;
    }
    
}
@media (max-width: 425px){
    .titulocontacto{
        font-size: 1.5rem;
    }
    .grid-contacto{
        display: grid;
        grid-template-columns: repeat(1, 70%);
        grid-template-rows: repeat(2, 50%);
        justify-content: center;
        align-items: center;
        gap: 5rem;
        min-height: 50vh;
        min-width: 325px;
    }
    .box-datos{
        max-width: 300px;
        display: flex;
        align-items: stretch;
    }
    .mapa{
    min-width: 325px;
    min-height: 369px;
    }
    .mapa iframe{
        width: 310px;
        height: 350px;
    }
    

}