/*Colores a usar en la web*/
$Color1: #0B090A; /*~ Rich Black FOGRA 39*/
$Color2: #161A1D; /*~ Eerie Black*/
$Color3: #660708; /*~ Blood Red*/
$Color4: #A4161A; /*~ Ruby Red*/
$Color5: #BA181B; /*~ Carnelian*/
$Color6: #E5383B; /*~ Imperial Red*/
$Color7: #B1A7A6; /*~ Black Shadows*/
$Color8: #D3D3D3; /*~ Light Gray*/
$Color9: #F5F3F4; /*~ Cultured*Color1: #FFFFFF; /*~ White*/

